// Мои стили без Matirial-ui
.form {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
width: 256px;
padding: 18px 23px;
background-color: rgb(212, 212, 212);
border: none;
border-radius: 20px 0 0 20px;
transition-duration: 0.5s;

    &:hover {
  background-color: #cdecc4;
}
}

.btn {
  padding: 18px 23px;
  background-color: #33a70f;
  font-weight: bold;
  border: none;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.5s;

  font-size: 14px;
line-height: 17px;
color: #FFFFFF;
      &:hover {
 background-color: #55c733;
 cursor: pointer;
 }
}

// Стили для matirial-ui
.field-ui.MuiOutlinedInput-input {
  width: 450px;
   
  &:hover {
    background-color: #c3e7f0;
  }
  }


.btn-ui.MuiButton-root {
padding: 14px;
font-size: 16px;
&:hover {
  color: yellow;
}
}