.article-ul {
    width:fit-content;
    
    
    }

.article-li {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(100, 198, 237);
    border-radius: 15px;
    padding: 10px 25px;
    margin: 10px;
}

.spinner {
    margin: 10px 10px 15px 350px;

}