.message {
    color: rgb(255, 252, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px; 
 }

.background {
    background-color: rgb(100, 198, 237);
    border-radius: 15px;
    padding: 15px 0 15px 0;
    margin: 10px 0;
    }